.level_counter {
  margin-top: 30px;
}

.current_level {
  font-size: 18px;
  font-family: 'pcsenior', serif;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  margin-top: 10px;
}