@font-face {
  font-family: 'pcsenior';
  src: url('../../fonts/pcsenior.ttf') format('truetype');
}

.column {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 10px;
}

.next_block_title {
  text-align: center;
  order: 0;
  font-size: 20px;
  font-family: 'pcsenior', serif;
  text-transform: uppercase;
  color: #ffffff;
}

.next_block_canvas_wrapper {
  padding: 10px;
  margin-top: 10px;
  background-color: #0e0032;
}

.next_block {
  order: 1;
}