@font-face {
  font-family: 'pcsenior';
  src: url('./fonts/pcsenior.ttf') format('truetype');
}

html {
  background-color: #2b085c;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game_wrapper {
  height: 80%;
  width: 20%;
  order: 0;
  position: relative;
}

.right_container {
  height: 80%;
  order: 1;
  max-width: 140px;
}

.column {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 10px;
}

.column_title {
  text-align: center;
  order: 0;
  font-size: 20px;
  font-family: 'pcsenior', serif;
  text-transform: uppercase;
  color: #ffffff;
}